*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top{
    min-height: 30vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(4, 4, 41);
    display: flex;
    
}
.top p{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 5%;
    color:lightslategray;
    
}
nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
  
    text-decoration: none;
}
nav img{
    width: 140px;
    padding-top: -50%;
}
.page-links{
    flex: 5;
    text-align: right;
    
}
.page-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 15px;
    position: relative;
}
.page-links ul li a{
    color:goldenrod;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page-links ul li a:hover{
    color:rgba(129, 110, 3, 0.507);
    
}
nav .fa{
    display: none;
}
 
.heading{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 5%;
    position: relative;
    width: 80%;
    margin: auto;   
}
p{
    padding: 10px;
}
h1{
    font-size: 35px;
    font-weight: 600;
}

.bar{
    margin-top: 5%;
    padding-top: 2%;
    height: 2px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(4, 4, 41);
    display: flex;
    
}

.second{
    font-size: 20px;
    text-align: center;
    padding-top: 5%;
    position: relative;
    width: 95%;
    margin: auto;
    
}
h1{
    font-size: 35px;
    font-weight: 600;
}
p{
    padding: 10px;
}
.row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.Events img{
    width: 400px;
    height: 600px;
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 10px;
    justify-content: space-between;
    
}

.bottom{
    margin-top: 10%;
    background-color:  rgb(4, 4, 41);
    width: 1345px;
    height: 200px; 
    
}
.bottomText {
    margin-top: 2%;   
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: relative;
    color: goldenrod;
    
}
.bottom ul{
    margin-top: auto;
    position: absolute;   
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 38%;
}
.bottom li{
    margin: 2% 2%;
    padding: 10px 15px;
    list-style: none;
    display: inline-block;
    position: relative;
}
.bottom a{
    display: inline-block;
    text-decoration: none;
    color:goldenrod;
    border-radius: 10px;
    position: relative;
    font-size: 30px;
}
.bottom a:hover{
    color:rgba(129, 110, 3, 0.507); 
}
@media(max-width: 700px){
    .top{
        width: 1340px;
    }
    .bar{
        width: 1340px;
    }
}